@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.navLinkLogos .material-symbols-outlined:hover {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
.navLinkLogos .material-symbols-outlined {
    font-size: 30px; 
    color: black; 
    font-weight: 200;
    margin-right: 10px;
}
.navLinkLogos .material-symbols-outlined:hover {
    color: #4C1D95;
}
.detalle{
    padding-left: 0;
}
.detalles span{
display: flex;
justify-content: center;
}
.detalles p{
    text-align: center;
    font-size: 18px;
}
.detalles-icon{
    font-size: 60px;
    color:#4C1D95; 
    font-weight: 300;
}

#logoCart{
    font-size: 28px;
}
